PORT=4000
MONGODB_URI=mongodb+srv://USER:PASSWORD@HOST/dbname
JWT_SECRET=change_me_to_a_long_random_string
CORS_ORIGIN=http://localhost:5173
GOOGLE_CLIENT_ID=your_google_oauth_client_id
VITE_CLOUDINARY_CLOUD_NAME=diodvgjrx
VITE_CLOUDINARY_UPLOAD_PRESET=admissionbondu
